asgiref
click
colorama
Django
django-autoslug
django-environ
django-filter
djangorestframework
et-xmlfile
gunicorn
h11
Markdown
numpy
openpyxl
pandas
psycopg2
python-dateutil
pytz
six
sqlparse
tzdata
uvicorn
whitenoise
XlsxWriter
