{% extends 'base.html' %}
{% block title %}TEST{% endblock %}


{% block content %}
    <div class="card py-2 px-3">
        <h4 class="display-6 text-dark">Pool : {{ pool.name }}</h4>
        <p class="p-6 text-dark">Pool : {{ pool.name }}</p>
        <hr class="text-dark">

        <div class="d-flex grid">

            <button type="button" onclick="view_selected_tag('')" class="btn btn-sm btn-outline-info me-1">Tümü <span style="color:red">({{ pool.comments.count }})</span></button>
            <div class="btn btn-sm btn-outline-success me-1">
                {% if request.GET.ai == 'true' %}
                    <input type="checkbox" id="use_ai" checked>
                {% else %}
                    <input type="checkbox" id="use_ai">
                {% endif %}
                <label for="use_ai">AI tagları dahil et</label>
            </div>
            {% for stat in pool.get_colored_stats.items %}
                <button type="button" onclick="view_selected_tag('{{ stat.0 }}')" class="btn btn-sm btn-outline-{{ stat.1.color }} me-1">{{ stat.0 }} <span style="color:red">({{ stat.1.count }})</span></button>
            {% endfor %}

        </div>
        <hr class="text-dark">
        {% if comments %}
            <table class="table table-sm table-light table-striped border">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">text</th>
                        <th scope="col">ai_tag</th>
                        <th scope="col">tag</th>
                        <th scope="col">branch</th>
                    </tr>
                </thead>
                <tbody style="max-height: 40vh">
            {% for comment in comments %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.ai_tag }}</td>
                    <td>{{ comment.tag }}</td>
                    <td>{{ comment.branch_from.name }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info">Here Empty</div>
        {% endif %}
    </div>
    <hr>
    <div class="card p-3">
        <div class="d-flex">
            <button type="button" class="btn btn-sm btn-outline-info me-1">Ekle </button>
            <button type="button" class="btn btn-sm btn-outline-info me-1">... </button>
            <div class="w-100"></div>
            <button type="button" class="btn btn-sm btn-outline-danger me-1 px-4">Sil</button>
        </div>
    </div>
<script>
    function view_selected_tag(tag) {
        console.log('?tag=' + tag + '&?ai=' + document.querySelector("#use_ai").checked)
        document.location.search = '?tag=' + tag + '&ai=' + document.querySelector("#use_ai").checked
    }
</script>
{% endblock %}
