{% extends 'base.html' %}
{% block title %}TEST{% endblock %}


{% block content %}
    <style>
    .show_download{
        opacity: 1;
        display: flex;
    }
    .fade:not(.show_download) {
        opacity: 0;
        display: none;
    }
    </style>
    <div class="card py-2 px-3">
        <h4 class="display-6 text-dark">Pool : {{ pool.name }}</h4>
        <button class="p-6 text-danger btn btn-sm btn-link" style="text-align: left" onclick="navigator.clipboard.writeText('{{ pool.id }}');">id : {{ pool.id }} <i class="fa-regular fa-copy"></i></button>
        <hr class="text-dark">

        <div class="d-flex grid">

            <button type="button" onclick="view_selected_tag('')" class="btn btn-sm btn-outline-info me-1">Tümü <span style="color:red">({{ pool.comments.count }})</span></button>
            <div class="btn btn-sm btn-outline-success me-1">
                {% if request.GET.ai == 'true' %}
                    <input type="checkbox" id="use_ai" checked>
                {% else %}
                    <input type="checkbox" id="use_ai">
                {% endif %}
                <label for="use_ai">AI tagları dahil et</label>
            </div>
            {% for stat in pool.get_colored_stats.items %}
                <button type="button" onclick="view_selected_tag('{{ stat.0 }}')" class="btn btn-sm btn-outline-{{ stat.1.color }} me-1">{{ stat.0 }} <span style="color:red">({{ stat.1.count }})</span></button>
            {% endfor %}

        </div>
        <hr class="text-dark">
        {% if comments %}
            <div class="mb-2" >
                <table class="table table-sm table-light table-striped border pb-0 mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#
                                <input type="checkbox" onclick="many_select_trigger();selected_display()" id="many_select_trigger_obj">
                                <label for="many_select_trigger_obj" id="comment_selected_message">Tümünü Seç</label>
                            </th>
                            <th scope="col">text</th>
                            <th scope="col" style="text-align: center; width: 100px;">ai_tag</th>
                            <th scope="col" style="text-align: center; width: 100px;">tag</th>
                            <th scope="col" style="text-align: center; width: 100px;">branch</th>
                        </tr>
                    </thead>
                </table>
                <div style="overflow-y: auto;max-height: 50vh">
                    <table class="table table-sm table-light table-striped border">
                        <tbody id="comment_area">
                        {% for comment in comments %}
                            <tr id="comment_temp_{{ comment.id }}">
                                <th scope="row">{{ forloop.counter }}
                                    <input type="checkbox" class="comment_checkbox" id="comment_checkbox_{{ comment.id }}"></th>
                                <td>
                                    <button type="button" class="btn btn-sm btn-light link-danger border my-auto" onclick="delete_comment('{{ comment.id }}')">
                                        <i class="fa-solid fa-circle-minus"></i>
                                    </button>
                                </td>
                                <td onclick="document.getElementById('comment_checkbox_{{ comment.id }}').checked = !document.getElementById('comment_checkbox_{{ comment.id }}').checked;selected_display()">{{ comment.text }}</td>
                                {% if comment.ai_tag %}
                                    <td>{{ comment.ai_tag.name }}</td>
                                {% else %}
                                    <td class="text-secondary">Tanımsız</td>
                                {% endif %}
                                {% if comment.tag %}
                                    <td>{{ comment.tag.name }}</td>
                                {% else %}
                                    <td class="text-secondary">Tanımsız</td>
                                {% endif %}
                                <td>{{ comment.branch_from.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <p class="m-0 mt-1"> this table has <span class="text-info fw-semibold"> {{ comments.count }} </span> comment </p>
            </div>
        {% else %}
            <div class="alert alert-info">Here Empty</div>
        {% endif %}
    </div>
    <hr>

    <div class="card p-3">
        <div class="d-flex">
            <button type="button" class="btn btn-sm btn-outline-info me-1">Ekle </button>
            <a class="btn btn-sm btn-outline-info me-1" href="{{ request.path }}output/">Download</a>
            <div class="w-100"></div>
            <button type="button" class="btn btn-sm btn-outline-danger me-1 px-4" onclick="many_select_delete()">Sil</button>
        </div>
    </div>

<script>""
    function view_selected_tag(tag) {
        console.log('?tag=' + tag + '&?ai=' + document.querySelector("#use_ai").checked)
        document.location.search = '?tag=' + tag + '&' + 'ai=' + document.querySelector("#use_ai").checked
    }

    function many_select_trigger(){
        var status = document.getElementById('many_select_trigger_obj')
        var comment_area = document.getElementsByClassName('comment_checkbox')
        for (let i = 0; i < comment_area.length; i++) {
            comment_area[i].checked = status.checked
        }
    }

    function selected_display() {
        var comment_select_display = document.getElementById('comment_selected_message')
        var comment_area = $('.comment_checkbox:checked')
        if (comment_area.length === 0){
            comment_select_display.innerText = 'Tümünü Seç'
        }else {
            comment_select_display.innerText = 'Tümünü Seç (' + comment_area.length + ')'
        }
    }

    function many_select_delete() {
        {#var comment_area = document.getElementsByClassName('comment_checkbox')#}
        var comment_area = $('.comment_checkbox:checked')
        for (let i = 0; i < comment_area.length; i++) {
            delete_comment(comment_area[i].parentElement.parentElement.id.replace('comment_temp_', ''))
        }
    }

    function delete_comment(id) {
        var pool_id = "{{ pool.id }}"
        var apiUrl = document.location.origin + '/api/ai/tool/pool/'+ pool_id + '/comment/' + id + '/'

        $('#comment_temp_' + id + ' th').css('color', 'cyan');
        $('#comment_temp_' + id + ' td').css('color', 'cyan');

        if ($('#comment_temp_'+id).css('display') !== 'none'){
            $.ajax({
                url: apiUrl,
                type:"DELETE",
                dataType: 'json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },

                success:function (response) {
                   $('#'+'comment_temp_'+id).fadeOut('slow')
                    var comment_bar = document.getElementById('comment_checkbox_' + id)
                    comment_bar.checked = false
                    {#comment_bar.parentElement.parentElement.remove()#}
                    selected_display()
                },
                error: function(response){
                    $('#comment_temp_' + id + ' th').css('color', 'red');
                    $('#comment_temp_' + id + ' td').css('color', 'red');
                    console.log(response)
                }
            })
        } else {
            console.log('object already removed')
        }
    }
</script>
{% endblock %}
