{% extends 'base.html' %}

{% block content %}
<style>
.metric {
    width: 150px!important;
    height: 150px!important;
}
.competence > input {
    color: red!important;
}
</style>

    <script>
        function draw_knobs() {
             $(function($) {

                $(".knob").knob({


                    draw : function () {

                        // "tron" case
                        if(this.$.data('skin') == 'tron') {

                            this.cursorExt = 0.3;

                            var a = this.arc(this.cv)  // Arc
                                , pa                   // Previous arc
                                , r = 1;

                            this.g.lineWidth = this.lineWidth;

                            if (this.o.displayPrevious) {
                                pa = this.arc(this.v);
                                this.g.beginPath();
                                this.g.strokeStyle = this.pColor;
                                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                                this.g.stroke();
                            }

                            this.g.beginPath();
                            this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                            this.g.stroke();

                            this.g.lineWidth = 2;
                            this.g.beginPath();
                            this.g.strokeStyle = this.o.fgColor;
                            this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                            this.g.stroke();

                            return false;
                        }
                    }
                });

                // Example of infinite knob, iPod click wheel
                var v, up=0,down=0,i=0
                    ,$idir = $("div.idir")
                    ,$ival = $("div.ival")
                    ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                    ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
                $("input.infinite").knob(
                                    {
                                    min : 0
                                    , max : 20
                                    , stopper : false
                                    , change : function () {
                                                    if(v > this.cv){
                                                        if(up){
                                                            decr();
                                                            up=0;
                                                        }else{up=1;down=0;}
                                                    } else {
                                                        if(v < this.cv){
                                                            if(down){
                                                                incr();
                                                                down=0;
                                                            }else{down=1;up=0;}
                                                        }
                                                    }
                                                    v = this.cv;
                                                }
                                    });
            });
        }
    </script>

    <div id="app">
    <section class="card">
        <div class="input-group">
            <input id="search_bar" type="text" placeholder="şube adı, id, url" class="form-control" @input="loadBranchData">
        </div>
    </section>

    <br>
{% verbatim %}

    <section class="card">
        <table class="table table-sm table-light table-striped border pb-0 mb-0">
            <thead>
                <tr class="">
                    <th scope="col" >#</th>

                    <th scope="col" style="text-align: center;">Name</th>

                    <th scope="col" :style="'text-align: center;color:' + getTagColor('competence')" key="competence">Yetkin</th>
                    <th scope="col" :style="'text-align: center;color:' + getTagColor('sincere')" key="sincere">İçten</th>
                    <th scope="col" :style="'text-align: center;color:' + getTagColor('powerful')" key="powerful">Güçlü</th>
                    <th scope="col" :style="'text-align: center;color:' + getTagColor('reputable')" key="reputable">Saygın</th>
                    <th scope="col" :style="'text-align: center;color:' + getTagColor('excitement')" key="excitement">Heycan</th>
                    <th scope="col" :style="'text-align: center;color:' + getTagColor('negative')" key="negative">Olumsuz</th>

                    <th scope="col" style="text-align: left;">last update</th>
                </tr>
            </thead>
        <!--div style="overflow-y: auto;max-height: 50vh"-->
            <!--table class="table table-sm table-light table-striped border mb-0"-->
                <tbody id="branch-table">
                    <tr v-for="branch in branch_list" :key="branch.id">
                        <th >{{ branch.index }}</th>
                        <td >{{ branch.name }}</td>

                        <td class="position-relative" style="text-align: center" v-if="branch.chart_context.competence"><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" :value="branch.chart_context.competence" data-angleOffset=-90 :data-fgColor="getTagColor('competence')" readonly></td>
                        <td class="position-relative" style="text-align: center" v-else><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" value="0" data-angleOffset=-90 :data-fgColor="getTagColor('competence')" readonly></td>

                        <td class="position-relative" style="text-align: center" v-if="branch.chart_context.sincere"><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" :value="branch.chart_context.sincere" data-angleOffset=-90 :data-fgColor="getTagColor('sincere')" readonly></td>
                        <td class="position-relative" style="text-align: center" v-else><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" value="0" data-angleOffset=-90 :data-fgColor="getTagColor('sincere')" readonly></td>

                        <td class="position-relative" style="text-align: center" v-if="branch.chart_context.powerful"><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" :value="branch.chart_context.powerful" data-angleOffset=-90 :data-fgColor="getTagColor('powerful')" readonly></td>
                        <td class="position-relative" style="text-align: center" v-else><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" value="0" data-angleOffset=-90 :data-fgColor="getTagColor('powerful')" readonly></td>

                        <td class="position-relative" style="text-align: center" v-if="branch.chart_context.reputable"><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" :value="branch.chart_context.reputable" data-angleOffset=-90 :data-fgColor="getTagColor('reputable')" readonly></td>
                        <td class="position-relative" style="text-align: center" v-else><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" value="0" data-angleOffset=-90 :data-fgColor="getTagColor('reputable')" readonly></td>

                        <td class="position-relative" style="text-align: center" v-if="branch.chart_context.excitement"><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" :value="branch.chart_context.excitement" data-angleOffset=-90 :data-fgColor="getTagColor('excitement')" readonly></td>
                        <td class="position-relative" style="text-align: center" v-else><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" value="0" data-angleOffset=-90 :data-fgColor="getTagColor('excitement')" readonly></td>

                        <td class="position-relative" style="text-align: center" v-if="branch.chart_context.negative"><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" :value="branch.chart_context.negative" data-angleOffset=-90 :data-fgColor="getTagColor('negative')" readonly></td>
                        <td class="position-relative" style="text-align: center" v-else><input class="knob" data-width="100" data-height="100" data-min="0" data-displayprevious="true" value="0" data-angleOffset=-90 :data-fgColor="getTagColor('negative')" readonly></td>

                        <td class="my-auto text-left">{{ branch.metric_list.calculation_time ? branch.metric_list.calculation_time : 'Tanımsız'}}</td>
                    </tr>
                </tbody>
            <!--/table-->
        <!--/div-->
        </table>

    </section>
{% endverbatim %}

    <br>

    <section class="card p-2 mb-3">
        <strong>Data Service PARS - NSEREN</strong>
    </section>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            branch_list: [],
            tag: []
        },
        mounted: async function() {
            await this.loadTagData();
            await this.loadBranchData();
        },
        methods: {
            get_branch_only_metric(index) {
                var latest_metric = []
                var latest_metric_title = []
                var latest_metric_data = this.branch_list[index].metric_list[0]
                if (latest_metric_data) {
                    for (var itemsKey in latest_metric_data) {
                        if (itemsKey.endsWith('count')) {
                            latest_metric_title.push(itemsKey.replace('_count', ''))
                            latest_metric.push(latest_metric_data[itemsKey])
                        }
                    }
                    return [latest_metric, latest_metric_title]
                }
            },
            loadBranchData: async function () {
                var query = document.querySelector('#search_bar').value;
                var API_PATH = window.origin + "/api" + "/branch/?search=" + query;
                const response = await fetch(API_PATH);
                const jsonData = await response.json();

                // Assuming jsonData is a list of branch objects
                this.branch_list = jsonData.map((branch, index) => {
                    return {
                        index: index + 1, // Index starts from 1
                        name: branch.name,
                        id: branch.id,
                        metric_list: (branch.metric_list && branch.metric_list.length) ? branch.metric_list[0] : [],
                        chart_context: (branch.metric_list && branch.metric_list.length) ? branch.metric_list[0].chart_context : [],
                    };
                });
                this.createChart();
            },
            loadTagData: async function () {
                var API_PATH = window.origin + "/api" + "/comment/tag/";
                const response = await fetch(API_PATH);
                this.tag = await response.json();
            },
            createChart: async function () {
                draw_knobs();
            },
            getTagColor: function (tag_sub) {
                for (let tagKey in this.tag) {
                    if (this.tag[tagKey].sub_name == tag_sub){
                        return '#' + this.tag[tagKey].color.hex_code.toString()
                    }
                }
            }
        },

    });
</script>


{% endblock %}
