{% extends 'base.html' %}

{% block content %}
<div id="app">
    <section class="card">
        <div class="input-group">
            <input id="search_bar" type="text" placeholder="şube adı, id, url" class="form-control" @input="loadBranchData">
        </div>
    </section>

        <br>

    <section class="card">
        <table class="table table-sm table-light table-striped border pb-0 mb-0">
            <thead>
                <tr class="pe-5">
                    <th scope="col" style="width: 200px">#</th>
                    <th scope="col" style="text-align: center;padding-right: 20px">name</th>
                    <th scope="col" style="text-align: left; width: 100px;">Metric</th>
                    <th scope="col" style="text-align: left; width: 150px;">last update</th>
                </tr>
            </thead>
        </table>
        <div style="overflow-y: auto;max-height: 50vh">
            <table class="table table-sm table-light table-striped border mb-0">
            {% verbatim %}
                <tbody id="branch-table" >
                    <tr v-for="(branch, index) in branch_list" :key="index">
                        <th>{{ index }}</th>
                        <td>{{ branch.name }}</td>
                        <td>{{ branch}}</td>
                        <td>{{ branch.id }}</td>
                    </tr>
                </tbody>
            {% endverbatim %}
            </table>
        </div>
    </section>

    <br>

    <section class="card">
        a
    </section>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            branch_list: []
        },
        mounted: function() {
            this.loadBranchData();
        },
        methods: {
            loadBranchData: async function() {
                var query = document.querySelector('#search_bar').value;
                var API_PATH = window.origin + "/api" + "/branch/?search=" + query;
                const response = await fetch(API_PATH);
                const jsonData = await response.json();
                this.branch_list = jsonData;
            }
        }
    });
</script>


{% endblock %}